form {
  margin: 30px 0;

  #name,
  #update-name,
  #description {
    padding: 10px;
    font-size: 16px;
    border-radius: 2px;
    border: 0.5px solid #c1c1c1;
    margin: 10px 0 20px;
    outline: none;
    width: 100%;
  }
  .buttons {
    text-align: right;
    margin: 20px 0;

    button {
      font-size: 16px;
      background: #292830;
      border-radius: 2px;
      color: #ffffff;
      border: none;
      padding: 10px 30px;
      margin-left: 10px;
      cursor: pointer;
    }
    button:hover {
      background: #333333;
      transform: scale(1.03);
    }
  }
}
