.content-heading {
  display: flex;
  justify-content: space-between;

  i {
    margin-left: 10px;
    cursor: pointer;
  }
  i:hover {
    color: #292830;
    transform: scale(1.2);
  }

  h2 {
    margin: 25px 0;
  }
}

.player-info {
  margin: 40px 0 15px;
}
