@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #292830;
  font-size: 16px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

.list-highlight {
  background: #e0e0e0;
  border-right: 2px solid #000000;
}

.main {
  min-height: 94.75vh;
  display: flex;
  line-height: 30px;
  letter-spacing: 0.5px;
}

img {
  max-width: 500px;
}

a {
  text-decoration: none;
  color: #000000;
}
