.header {
  background: #292830;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;

  a {
    color: #ffffff;
  }

  img {
    height: 3vh;
  }

  i {
    cursor: pointer;
  }
  i:hover {
    color: #b6b4c5;
    transform: scale(1.2);
  }

  .toggle {
    cursor: pointer;
  }
  .toggle:hover {
    transform: scale(1.2);
  }
}
